################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Videos
/source
/SmartSchoolWebAPI
/Searches
/Saved Games
/ReactiveForms
/Pictures
/Oracle
/OneDrive
/ntuser.ini
/NTUSER.DAT{92870c5c-2e5c-11eb-bc3a-84bb55f26880}.TMContainer00000000000000000002.regtrans-ms
/NTUSER.DAT{92870c5c-2e5c-11eb-bc3a-84bb55f26880}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{92870c5c-2e5c-11eb-bc3a-84bb55f26880}.TM.blf
/ntuser.dat.LOG2
/ntuser.dat.LOG1
/NTUSER.DAT
/Music
/Links
/IntelGraphicsProfiles
/git-course
/GerenciadorFinanceiro_log.ldf
/GerenciadorFinanceiro.mdf
/Favorites
/ExemploReactiveForms
/Downloads
/Documents
/DigitalInovationOne
/Desktop
/cursoEF.sln
/CursoEF
/Contacts
/AppData
/3D Objects
/.vscode
/.vs
/.templateengine
/.nuget
/.node_repl_history
/.librarymanager
/.gxmodules
/.gitconfig
/.dotnet
/.config
/.cache
/.bash_history
/.angular-config.json
/.android
